h1 {
  font-size: 2rem;
  margin-top: 2rem;
}
h2 {
  font-size: 1.5rem;
}
.hero {
  height: 70vh;
}
.hero .content {
  height: 70vh;
}
.items {
  display: block;
}
.item {
  height: 20rem;
  width: 25rem;
}
